*{
    margin: 0;
    box-sizing: border-box;

    font: 1rem 'Roboto', sans-serif;   
}

:root{
    --primary-color: #0FC2C0;
    --secondary-color: #0558B0;
    --primary-font-color: #020D57;
    --secondary-font-color: #E5E5E5;
}

body{
    width: 100vw;

    background: linear-gradient(180deg, rgba(15, 194, 192, 0.55) 0%, #0FC2C0 100%);
    

    display: grid;
    justify-content: center;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: 10rem 1fr 20rem;    
}

header{
    grid-area: header;
    display: flex;
    justify-content: space-around;

    max-width: 1080px;
    width: 100vw;
    margin: 0 auto;

    align-items: center;

    margin-top: 2rem;

}

span{
    font-size: 3.75rem;
}

header ul{
    display: flex;
    justify-content: space-evenly;
    
    width: 50%;
    padding: 0;
    list-style: none;
}

header ul li a{
    text-decoration: none;
    color: var(--primary-font-color);
}

main{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    width: 16rem;
    height: 3.5rem;

    color: var(--secondary-font-color);
    background-color: var(--secondary-color);
    border: 0;
    border-radius: 0.4rem;
    transition: 0.2s;
}
button:hover{
    filter: brightness(0.8);
}

.title{
    font: 4rem 'Coda', sans-serif;
    color: var(--primary-font-color);
}
footer .title{
    color: var(--secondary-font-color);
} 
.title i{
    font: 4rem 'Coda';
    color: var(--secondary-font-color);
}
#main-section{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;

    margin: 5rem 0;
}
#main-section img{
    width: 32rem;
}
#main-section div{    
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#main-section h2{
    font-size: 2rem;
    text-align: center;
}
#main-section h1{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    color: var(--primary-font-color);
}
#main-section button{
    font-size: 1.2rem;
    margin-top: 2rem;
}

#secondary-section{
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    
    flex-direction: row-reverse;
}
#secondary-section img{
    width: 28rem;
    height: 26rem;
}
#secondary-section ul li{
    padding-left: 0.5rem;
    font-size: 2rem;
}
#secondary-section ul li::marker{
    font-size: 4rem;
}

#terciary-section{
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: fit-content;
    align-items: flex-start;
}
#terciary-section h3{
    font-weight: bold;
    font-size: 2rem;
    width: 100%;
    text-align: start;
}
#terciary-section div{
    display: flex;
    align-items: center;
}
#terciary-section input{
    margin: 1.5rem 0;
    width: 25rem;
    height: 4rem;
    padding: 0 0.8rem;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    border: 0;
    background-color: var(--secondary-font-color);
    
}
#terciary-section button{
    font-size: 1.2rem;
    margin-left: 2rem;
}

#coments-section{
    display: flex;
    width: 100vw;

    justify-content: space-evenly;
    
}

.coments{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 30rem;
    height: 13rem;  
    border-radius: 0.4rem;

    
    margin-bottom: 3rem;


    background-color: var(--secondary-font-color);
}
.coments div{
    display: flex;
    margin: 0 auto;
    width: 90%;
}
.coments img{
    width: 5rem;
}
.coments p{
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.coments span{
    text-align: left;
    font-weight: bold;
    margin-left: 25%;
}
.coments .author{
    font-size: 1.8rem;
}
.coments .author-from{
    font-size: 1.2rem;
}


footer{
    color: var(--secondary-font-color);
    background-color: var(--primary-font-color);
    display:flex;
    
    justify-content: center;
    width: 100vw;
    padding: 1rem;
    margin-top: 3rem;
}
footer div{
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    justify-content: left;
    margin-bottom: 1.5rem;
}
footer div address{
    display: flex;
    flex-direction: column;
}
footer span, h2, h4, p, a{
    margin-bottom: 0.5rem;
}
footer h4{
    font-weight: bold;
    margin-bottom: 1rem;
}
footer .title{
    font-size: 2rem;
}
footer #social-footer div{
    flex-direction: row;
    margin-bottom: 1rem;
}
footer #social-footer div a{
    margin-right: 1.5rem;
}

footer #social-footer a span{
    font-size: 0.8rem;
    color: var(--secondary-font-color);
}
footer #contact-footer address a{
    color: var(--secondary-font-color);
}
footer #svg-reference{
    color: var(--secondary-font-color);
}

@media (max-width:1024px){
    html{
        font-size: 80%;
    }
    body{
        grid-template-rows: 10rem 1fr 25rem; 
    }
    header{
        flex-direction: row;
    }
    header ul{
        width: 50%;
        padding-right: 1.5rem;
        justify-content: flex-end;
    }
    header ul li{
        padding: 0 1.5rem;
    }
    header ul li a{
        font-size: 1.3rem;
    }
    #secondary-section{
        
        justify-content: space-evenly;
    }
  
    #coments-section{
        flex-direction: column;
    }
    .coments{
        width: 35rem;
        height: 15rem;

        margin-left:auto;
        margin-right: auto;
    }
    .coments img{
        width: 6rem;
    }
    .coments .author{
        font-size: 1.6rem;
    }
    .coments .author-from{
        font-size: 1rem;
    }
    .coments p{
        font-size: 1.25rem;
    }
    footer{
        justify-content: space-around;
        padding: 2rem 2rem;
    }
    footer .title{
        font-size: 3rem;
    }
    footer h2, p, a{
        font-size: 1rem;
    }

}

@media(max-width: 640px){
    html{
        font-size: 75%;
    }
    body{
        grid-template-rows: 10rem 1fr 42rem; 
    }
    header{
        flex-direction: column;
    }
    header ul{
        justify-content: space-around;
    }
    header ul li a{
        font-size: 1.2rem;
    }
    img{
        width: 25rem;
    }
    #main-section{
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5rem;
    }
    #secondary-section{
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
        
    }
    #secondary-section img{
        height: 20rem;
    }
    #terciary-section{
        align-items: center;
    }
    #terciary-section div{
        flex-direction: column;
    }
    #terciary-section h3{
        font-size: 1.5rem;
        text-align: center;
        font-weight: 700;
    }
    #terciary-section input{
        height: 3rem;
    }
    #terciary-section button{
        margin:0;
    }
    #coments-section{
        flex-direction: column;
        align-items: center;
    }
    .coments{
        width: 26rem;
        height: 13.5rem;
    }
    .coments img{
        width: 5rem;
    }
    .coments p{
        font-size: 1.1rem;
    }
    footer{
        width: 100vw;
        flex-direction: column;
        padding: 2rem 2rem;
    }
    footer span{
        font-size: 3.5rem;
    }
    footer h4{
        font-size: 1.8rem;
    }
    footer p{
        font-size: 1.1rem;
    }
    footer #contact-footer address a{
        font-size: 1.1rem;
    }
    footer #desc-footer h2{
        font-size: 1.3rem;
    }
    footer #svg-reference{
        margin-top: -3.5rem;
    }
}